<form name="transactionFrm" ng-submit="submitForm(transactionFrm.$valid)" novalidate>
    <label>Date:</label>
    <input ng-model="itemDate" placeholder="date" required />
    <p ng-show="transactionFrm.itemDate.$invalid && !transactionFrm.itemDate.$pristine" class="help-block">Date is required.</p>
    <label>Description:</label>
    <input ng-model="description" placeholder="description"/>

    <label>Amount:</label>
    <input ng-model="amount" required />
    <p ng-show="transactionFrm.amount.$invalid && !transactionFrm.amount.$pristine" class="help-block">Amount is required.</p>

    <button type="submit" ng-disabled="transactionFrm.$invalid">Submit</button>|<a href="#/list">Back</a>

</form>